{{! Use your main layout }}
{{> header }}

<article class="post-detail">
  <h1>{{post.title}}</h1>
  <div>Written by {{post.author}}</div>
  <p>{{post.content}}</p>
</article>

<a href="/">Back to Home</a>

{{> footer }}